.message{data: {message: {id: message.id}}}
 .upside-message
  .user-name
   = message.user.name
  .message-date
   = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
 .downside-message
  - if message.content.present?
   %p.message-contents
    = message.content
  = image_tag message.image.url, class: 'downside-message-image' if message.image.present?